@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }




/* shared any-other */
.display-flex{
    display: flex;
}
.paragraph{
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;



}
.btn-primary{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
border-radius: 8px; 
background: rgb(255, 144, 14);
padding: 21px 25px;
border: none;

}
.text{

    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
  margin-top: 24px;
  margin-bottom: 32px;
   
 
    



}

/* header */
.main-header{
    background-color: rgba(255, 144, 14, 0.1);


max-width: 100vw;
height: 1400px;


    
}
.image-container-items{


text-align: center;
width: 862px;
height: 225px;



  
}
.image-container{
    display: flex;

    align-items: center;
    flex-direction: column;
   
}
.image-container-content{
    margin-top: 250px;

}
.image-container-content > img {
    width: 100%;
}


/* nav styled */
.main-navigation{

     align-items: center;
 justify-content: space-between;
 width: 1400px;
   margin: 0 auto;


     
    

}



.section-title{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
 
    
    
}
.nav-link{
    
    list-style: none;
    margin-right: 30px;
}
.nav-link > a{

    text-decoration: none;
    font-size: 18px;
    color: rgb(66, 66, 66);

}
.font-size-64{

  font-size: 4rem;




}


@media screen and (max-width:576px) {
 .main-navigation{
   
    flex-direction: column;
    width: 400px;
    
 }
 .section-title{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;

 
    
    
}
.image-container-items{


    text-align: center;
    width: 362px;
    height: 225px;
    
    
    
      
    }



    .styled-list {

        

      flex-direction: column;


    





    }



    
}
/* main */
.container-main{
  
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 130px;
}

.conten-photo{
width: 708px;
 display: grid;
 grid-template-columns: repeat(2,1fr);

}
.conten-itmes{

    max-width: 537px;



}
#color-1{

    font-family: Work Sans;
font-size: 45px;
font-weight: 500;
color: rgb(114, 114, 114);



}
#color-3{

    font-family: Work Sans;
font-size: 45px;
font-weight: 700;
color: rgb(255, 144, 14);




}
@media screen and (max-width:576px){

    .conten-photo {
width: 208px;

 display: grid;
 grid-template-columns: repeat(1,1fr);
 gap: 24px;
 margin-left: 25px;

}
.conten-itmes{
 width: 230px;
    margin-left:20px ;
}

}
@media screen and (max-width:576px){

    .conten-photo img {
width: 208px;


 

}
}
@media  screen and (max-width:576px) {

    .container-main {
  
        margin-top: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        margin-bottom: 130px;
        flex-direction: column;
    }


    
}
@media screen and (min-width:576px) and (max-width:992px) {

    .container-main{
        flex-direction: column;
    }
    .conten-itmes{

        margin: 0 auto;
        margin-left: 50px;
    }
    
}
/* section-2 */
.fact-baba{
    display: flex;
    justify-content: center;
    align-items: center;
    

    box-sizing: border-box;
border: 1px solid rgb(255, 144, 14);
 border-radius: 8px; 
width: 241px;
height: 241px;
}
.fact-content-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.content-title{
    color: rgb(66, 66, 66);
font-family: Work Sans;
font-size: 45px;
font-weight: 600;
margin-top:10px ;
margin-bottom: 5px;



}
.section-subtitle{

    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;

  
    

    


}
.container-main-2-div{
    display: flex;
    justify-content: center;
    align-items: center;
 
    gap: 70px;
    margin-bottom: 32px;
}
.title{
 
    margin-left: 300px;
    width: 542px;
    margin-top: 0px;
    margin-bottom: 100px;

}

/* footer */